cmsdata:  
  image: datenbetrieb/debian
  volumes:
    - data/www:/data/www/
    - data/nginx/sites-enabled:/etc/nginx/sites-enabled
#  privileged: true

db:
  hostname: mysql1
  image: mysql
  #volumes:
  #- var/lib/mysql
  environment:
    - MYSQL_ROOT_PASSWORD=udednlgvfx
  ports:
    - "3306"
#  privileged: true

php:
  hostname: phpfpm
  image: datenbetrieb/php-fpm
  volumes_from:
    - cmsdata
  links:
    - db:db
#  privileged: true

web:  
  hostname: cmstest
  image: datenbetrieb/nginx
  volumes_from:
    - cmsdata
  links:
    - php:php-fpm
  ports:
    - "80"
    - "443"
#  privileged: true

#composer:  
#  image: datenbetrieb/composer
#  volumes_from:
#    - data
